<Html>

<h1>@ViewBag.Trail.Name</h1>
<h3>Description</h3>
<h4>@ViewBag.Trail.Description</h4>
<h3>Length</h3>
<h4>@ViewBag.Trail.Length miles</h4>
<h3>Elevation Gain</h3>
<h4>@ViewBag.Trail.Elevation feet</h4>
<br>
<br>

<h4>Latitude: @ViewBag.Trail.Latitude</h4>

<h4>Longitude: @ViewBag.Trail.Longitude</h4>

<br>
<a href="/">Home</a>

</Html>