@{
    ViewData["Title"] = "Solo Ninja Facts";
}

@model DojoLeague.Models.Ninja

<div class="row">
    <div class="col-md-6">
         <table class="table table-hover">
            <tbody>
                @foreach(var Ninja in @ViewBag.Ninjas)
                {
                    <tr>
                        <td><h3>Ninja Name</h3></td>
                        <td><h3>@Ninja.Name</h3></td>
                    </tr>
                    <tr>
                        <td>Level</td>
                        <td>@Ninja.Level</td>
                    </tr>
                    <tr> 
                        <td>Description</td>  
                        <td>@Ninja.Description</td>
                    </tr> 
                    @foreach(var Dojo in @ViewBag.Dojos)
                    {
                    <tr> 
                        <td>Assigned Dojo</td>   
                        <td>@Dojo.Name</td>   
                    </tr>
                    }
                }
            </tbody>  
        </table>      
    </div> 
</div>

